.home{
    text-align: center;
    color: #F0EAD6;
    font-family: Calibri;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.button {
    margin-top: 20px;
    font-weight: bold;
    background-color: #8D9440; 
    border: none;
    color: #F0EAD6;
    padding: 14px 48px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    width: 220px;
    cursor: pointer;
    opacity: 0.9;
  }
.button:hover {
    background-color: #F0EAD6; 
    color: #8D9440;
    box-shadow: 0 12px 16px 0 black;
    cursor: pointer;
    opacity: 0.9;
  }
